@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.signUpPageInput{
    width: 400px;
    height: fit-content;
    border: 2px solid black;
    padding: 40px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: 5px 5px 20px 5px;
}
.signUpLogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signUpLogo img{
    height: 60px;
    width: auto;
    margin: auto;
}
.signUpHeading{
    color: white;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.signUpInputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.nameInput input{
    padding: 5px;
    border: none;
    outline: none;
    background-color: black;
    text-align: center;
    color: white;
}
.nameInput input:focus{
    border-bottom: 2px solid white;
    text-align: left;
}
.emailInput input{
    padding: 5px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    text-align: center;
}
.emailInput input:focus{
    border-bottom: 2px solid white;
    text-align: left;
}
.passwordInput input{
    padding: 5px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    text-align: center;
}
.passwordInput input:focus{
    border-bottom: 2px solid white;
    text-align: left;
}
.signUpIcons{
    color: white;
    font-size: 1.25em;
    position: relative;
    top: 5px;
    margin: 0 10px;
}
.submitInput{
    margin-top: 10px;
}
.submitInput input{
    width: 100%;
    font-size: 1.25em;
    color: white;
    background-color: black;
    padding: 5px 0;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.3s ease;
}
.submitInput input:hover{
    border: 2px solid white;
}
.signUpDivider{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.signUpDivider .signUpOr{
    margin: 0 20px;
}
.signUpDivider .hr{
    width: 80%;
    background-color: white;
    border: 1px solid white;
}
.signUpAlt{
    width: 100%;
}
.signUpGoogle{
    margin: 10px;
}
.googleBtn{
    width: fit-content;
    margin: 10px auto;
    color: white;
    padding: 5px 25px;
    border: 2px solid black;
    transition: 0.3s ease;
    cursor: pointer;
    text-align: center;
}
.googleBtn .googleIcon{
    position: relative;
    top: 2px;
    margin: 0 10px;
}
.googleBtn:hover{
    border: 2px solid white;
    border-radius: 25px;
}
.signInOption{
    margin-top: 10px;
    text-align: right;
}
.signInOption span{
    color: white;
}