.HomeBody{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.HomeCaption{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
.metconHeading{
    font-size: 1.5em;
    padding: 10px 0 10px 0;
}
.mainHeading{
    font-size: 5em;
    text-align: center;
    line-height: 1;
    font-weight: 800;
}
.metconShoppingButton{
    font-size: 1.5em;
    border: 2px solid black;
    margin: 10px 0;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
}
.metconShoppingButton:hover{
    background-color: black;
    color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}