*{
    margin: 0;
    box-sizing: border-box;
}
body,
html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}
.stillPicture{
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.homeContainer{
    background-image : url('/public/images/bg1.jpg');
    min-height: 100vh;
}
.launchPageOverlay{
    background-image: radial-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.75), rgba(0,0,0,1));
    width: 100%;
    height: 100vh;
}
.launch-logo{
    position: absolute;
    width: 400px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('/public/images/logo.png');
    background-size: cover;
    background-position: center;
}
/* .launch-logo{
} */