.OutfitOverlay{
    height: 100vh;
    background-image: url('/public/images/outfitoverlay.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 2px solid black;
}
.OutfitOverlayGradient{
    background-image: radial-gradient(rgba(0,0,0,0.45) 60%, rgba(0,0,0,0.75), rgba(0,0,0,1));
    width: 100%;
    height: 100vh;
}