.ShoesOverlay {
    height: 100vh;
    background-image: url("/public/images/shoes_overlay.jfif");
    background-position: center;
    /* background-size: stretch; */
    background-attachment: fixed;
    position: relative;
}
.ShoesOverlayGradient {
    position: absolute;
    background-image: radial-gradient(
        rgba(0, 0, 0, 0.45) 20%,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 1)
    );
    width: 100%;
    height: 100vh;
}
.ShoesLinkBox {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ShoesLink {
    text-decoration: none;
    color: white;
    font-size: 4em;
    font-weight: 600;
    border: 2px solid white;
    padding: 25px 40px;
    cursor: pointer;
    transition: 0.5s ease-in;
}
.ShoesLink:hover {
    background-color: white;
    color: black;
    box-shadow: 2px 2px 20px 5px white;
}
