.signUp{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.signUpHeading{
    color: black;
    font-weight: 800;
    font-size: 3rem;
    line-height: 1;
    margin: 25px 25px;
    line-height: 1;
}
.signUpHeading:hover{
    cursor: context-menu;
}
.signUpHeading .heading1{
    font-size: 6rem;
}
.signUpHeading .heading2{
    color: grey;
    font-size: 5rem;
}
.signUpHeading .heading3{
    font-size: 7rem;
}
.signUpHeading .heading4{
    color: grey;
    font-size: 10rem;
}
.signBox{
    display: flex;
    flex-direction: column;
}
.signUpButton , .signInButton{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    font-size: 2.5em;
    text-align: center;
    padding: 5px 25px;
    cursor: pointer;
    transition: 0.3s ease-in;
}
.signUpButton{
    margin-bottom: 20px;
}
.signInButton{
    margin-top: 20px;
}
.signInButton:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.signUpButton:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
    box-shadow: 10px 10px 5px #aaaaaa;
}