.cartItems{
    height: 100%;
    width: 60vw;
    overflow-y: auto;
}
.cartItems h1{
  margin-left: 10px;
  margin-top: 10px;
  color: black;
}
.cartItemsList{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cartItems::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  .cartItems::-webkit-scrollbar-track {
    background: lightgrey;        /* color of the tracking area */
  }
  
  .cartItems::-webkit-scrollbar-thumb {
    background-color: darkgrey;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid lightgrey;  /* creates padding around scroll thumb */
  }