.cartStore{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-around;
}

.emptyCartPage{
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.emptyCartPage > img {
    height: 200px;
    width: 200px;
}