.cartNavbar{
    height: 70px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid grey;
    background-color: white;
    z-index: 1000;
}
.brand-logo{
    background-image: url('/public/images/nike-logo.jpg');
    width: 100px;
    height: 50px;
    background-size: cover;
    background-position: center;
}
.userGreet{
    font-size: 2em;
    font-weight: 700;
    color: black;
}
.userLogOut button{
    padding: 5px 10px 10px 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
}
.userLogOut button:hover{
    border: 2px solid white;
    outline: 2px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
}
.userLogOut .logOutBtn{
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
}